.menu-123-pane {
    border: 1px solid #dedcdc;
    background: white;
    position: absolute;
    visibility: hidden;
    z-index: 2;
}
.hr-123_vert{
    border-left: 1px solid #dedcdc;
}
.hr-123{
    border-top: 1px solid #dedcdc;
}
.menu-123-item {
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.menu-123-item:hover{
    background: #e2dfdf;
}
.menu-123-item:active{
    background: #c9c9c9;
}
div[disabled]
{
    pointer-events: none;
    opacity: 0.7;
}