.menu-123-pane {
    border: 1px solid #dedcdc;
    background: white;
    /*position: absolute;*/
    /*visibility: hidden;*/
    /*z-index: 2;*/
}
.hr-123_vert{

    border-left: 1px solid #dedcdc;
}
.hr-123{
    margin-top: 2px;
    border-top: 1px solid #dedcdc;
    margin-bottom: 2px;
}
.menu-123-item {
    height: 30px;

    width: 200px;
    background: white;
    font-size: 15px;
    cursor: pointer;
}
.menu-123-item:hover{
    background: #d7d5d5;
}
.menu-123-item:active{
    background: #c2bebe;
}
div[disabled]
{
    pointer-events: none;
    opacity: 0.7;
}

.t-over{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*.content-123-text-right{*/
/*    width: 100%;*/
/*    padding-left: 5px;*/
/*}*/
/*.content-123-text-left{*/
/*    width: 100%;*/
/*}*/
/*.content-123-text-center{*/
/*    width: 100%;*/
/*}*/
/*.content-123-icon-right{*/
/*    color: black;*/
/*}*/
/*.content-123-icon-left{*/
/*    color: black;*/
/*}*/
/*.content-123-icon-center{*/

/*    color: black;*/
/*}*/
.popup-123{
    border: 1px solid #dedcdc;
    background: white;
}
.detail-123-popup {

    margin-left: 1px;
    margin-right: 1px;
    background: #dedcdc;
    border: 1px solid #999494;
    /*display: none;*/
}
.container {

    height: 100%;
    position: relative;

}
/*contents*/
.content-123-left-10{

    text-align: center;
    width: 10%;
}
.content-123-center-80{
    width: 80%;
}
.content-123-right-10{
    text-align: center;
    width: 10%;
}
.content-123-center-100{
 width: 100%;
}
.content-123-center-90{
    width: 90%;
    padding-left: 5px;
}
.content-123-left-100{

}
.content-123-right-100{

}

.vertical-center {
    width: 100%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.root-123{
    background: #bdb7b7;
}
.item-123{
    background: #d7d5d5;
}
table, th, td {
    border:1px solid black;
}
.big{

    width: 800px;
    height: 400px;
}