.menu-123-pane {
    border: 1px solid #dedcdc;
    background: white;
    position: absolute;
    visibility: hidden;
    z-index: 2;
}
.hr-123_vert{
    border-left: 1px solid #dedcdc;
}
.hr-123{
    border-top: 1px solid #dedcdc;
}
.menu-123-item {
    width: available ;
    background: white;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
.menu-123-item:hover{
    background: #f3fafd;
}
.menu-123-item:active{
    background: #c9c9c9;
}
div[disabled]
{
    pointer-events: none;
    opacity: 0.7;
}
.content-123-text{
    width: 100%;

}
.content-123-icon{
    color: black;
}
.detail-123-popup {

    margin-left: 1px;
    margin-right: 1px;
    background: #dedcdc;
    border: 1px solid #999494;

    display: none;
}
.m200{
    width: 200px;
    cursor: pointer;
    background: white;
}
.m200:hover{
    background: yellowgreen;
}
.m200:active{
    background: #617f25;
}